# SetupHelpers.dist
# Pull self
darcs /extensions/SetupHelpers			http://openengine.dk/code/extensions/SetupHelpers
darcs-dev /extensions/SetupHelpers		fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers

# SetupHelpers dependencies
# Pull by dist files
dist /extensions/HUD/HUD.dist http://openengine.dk/code/extensions/HUD/HUD.dist
dist /extensions/SDL/SDL.dist http://openengine.dk/code/extensions/SDL/SDL.dist
dist /extensions/SDLImage/SDLImage.dist http://openengine.dk/code/extensions/SDLImage/SDLImage.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist http://openengine.dk/code/extensions/OpenGLRenderer/OpenGLRenderer.dist
dist /extensions/OBJResource/OBJResource.dist http://openengine.dk/code/extensions/OBJResource/OBJResource.dist
dist /extensions/AccelerationStructures/AccelerationStructures.dist http://openengine.dk/code/extensions/AccelerationStructures/AccelerationStructures.dist

